name: Build website

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  build:

    name: Create website
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10' 

    - name: Run build script # run main.py
      run: python build.py
        
    - uses: actions/upload-artifact@v3
      with:
        name: Website
        path: out
        if-no-files-found: error
        gooey: false
